<!DOCTYPE html>
<html>
<head>
    <title>New Sails App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<%- body %>
<script src="/dependencies/sails.io.js"></script>
<script type="text/javascript">
    function valid_1(){

        const job_1 = document.getElementById("job_1");
        const id_1 = document.getElementById("id_1");

        if(job_1.value === "" || id_1.value === ""){
            alert("Please fill the values for searching job");
            return false;
        }else{
            return true;
        }
    }

    function valid_2(){

        const job_2 = document.getElementById("job_2");
        const id_2 = document.getElementById("id_2");
        const qty_2 = document.getElementById("qty_2");

        if(job_2.value === "" || id_2.value === "" || qty_2.value === ""){
            alert("Please fill the values to add job");
            return false;
        }else{
            return true;
        }
    }

    function valid_3(){

        const job_3 = document.getElementById("job_3");
        const id_3 = document.getElementById("id_3");
        const qty_3 = document.getElementById("qty_3");

        if(job_3.value === "" || id_3.value === "" || qty_3.value === ""){
            alert("Please fill the values to modify job");
            return false;
        }else{
            return true;
        }
    }
</script>
</body>
</html>
