<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>

<body>
<h1>Order your parts</h1>

		<label for="jobs">Choose a job:</label> <form name="myform"
		action="/fetchparts" onsubmit="return myFunction()" method="GET">

			<br>
			<select name="jobs" id="jobs" style="margin-left:1%;"></select>

			<br>
			<h4> OR </h4>
			<input type="text" name="searchjob" placeholder="Search job"><br>
			<br>
			<input type="submit" value="Submit" class="btn btn-primary">
		</form>
	<script>

		const fetchjobs = "http://localhost:1339/fetchjobs"

		var data;
		
		
		async function getjobs(){
			const response = await fetch(fetchjobs);
			data = await response.json()

			console.log(data)

			var arr=new Set();
		for(var i=0;i<data.length;i++){
			arr.add(data[i].jobName)
		}

		console.log(arr);

			var select = document.getElementById("jobs");
			arr.forEach(async function (arrayItem) {
			    let jobname = arrayItem

			    var el = document.createElement("option");
			    el.text = jobname;
			    el.value = jobname;

			    select.add(el);

   			});
		}

		getjobs()

		function myFunction(){
			var x = document.getElementById("jobs");
			localStorage.setItem("jobnamekey", x.value)

		}
	</script>

<form action="/" method="GET" class="m-5">
	<center> <button class="btn btn-primary"> Home </button> </center>
</form>

</body>

</html>
