<div class="home">
    <a href="/"></a>
</div>
<div class="box" style="margin: 40px">
    <form action="/searchOrder" onsubmit="return valid_1()">
        <div class="input-section">
            <label for="job_1">Job Name</label>
            <input type="text" placeholder="Enter JobName" class="inp" id="job_1" name="jobName"/>
        </div>
        <input type="submit" class="submit" value="Search"/>
    </form>
</div>