<div class="home">
    <a href="/"></a>
</div>
<div class="hint"><%= result.msg %></div>
<div class="submit adjust_2">
    <span><%= result.btnMsg %></span>
    <a href="/"></a>
</div>
<div class="submit adjust_2">
    <span>See All Jobs</span>
    <a href="/allJobs"></a>
</div>
